{% extends 'main.html' %}
{% block content %}

<div class="header-bar">
  <h1>Reset Password</h1>
</div>


<p class="mt-3">
  Forgotten your password? Enter your email address below, and we'll email
  instructions for setting a new one.
</p>

<form method="POST">
  {% csrf_token %}
  <div class="col-sm-4">
  {{form}}
  <!--<input type="submit" name="Send email" />-->
  </div>

  <button
      class="btn btn-outline-primary"
      type="submit"
      style="margin-top: 10px; margin-bottom: 10px"
    >
      Send Email
    </button>
</form>

{% endblock content %}